@model List<MHClub.Domain.Models.Review>

@if (ViewBag.Reviews is not null)
{
    <div class="col">
        @foreach (var review in ViewBag.Reviews)
        {
            <div class="row pe-2 pb-2">
                <div class="card" style="background-color: #D9D9D9">
                    <div class="card-body">
                        <div class="d-inline-flex gap-2">
                            @for (var i = 0; i < review.Estimation; i++)
                            {
                                <i class="bi-star-fill"></i>
                            }
                        </div>
                        <blockquote class="blockquote mb-0">
                            <p>@review.Description</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        }
    </div>
}