@using MHClub.Domain.Models
@using MHClub.Models.Ads
@using MHClub.Utils
@model MHClub.Models.User.UserProfileDto

@{
    Layout = "_ProfileLayout";
    ViewData["Title"] = "Просмотр профиля";
}

<div class="d-flex flex-column gap-1">
    <div>
        <h4>Активные объявления</h4>
        @if (((List<AdsIndexViewModel>)ViewBag.Ads).Any())
        {
            ViewBag.ColumnsCount = 3;
            @await Html.PartialAsync("_AdsPartialView", (List<AdsIndexViewModel>)ViewBag.Ads)
        }
        else
        {
        <h5>Объявления не найдены</h5>
        }
    </div>
    
    <div>
        <h4>Отзывы</h4>
        @if (((List<Review>)ViewBag.Reviews).Any())
        {
            @await Html.PartialAsync("_ReviewsPartialView", (List<Review>)ViewBag.Reviews)
        }
        else
        {
            <h5>Отзывы не найдены</h5>
        }
    </div>
</div>