@using MHClub.Domain.Models
@model UserProfileDto

@{
    Layout = "_ProfileLayout";
}

@if (ViewBag.Reviews != null)
{
    <div class="row row-cols-4">
        @foreach (Ad ad in ViewBag.Reviews)
        {
            <div class="col pe-2 pb-2">
                <div class="card h-100">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR5xJj2eY0CRT5Wkf-XklUtNd2t2dtJVivThA&s" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">@ad.Name </h5>
                        <p class="card-text">@ad.Cost</p>
                    </div>
                </div>
            </div>
        }
    </div>
}