@using MHClub.Domain.Models
@model MHClub.Models.User.UserProfileDto

@{
    Layout = "_ProfileLayout";
    ViewData["Title"] = "Просмотр отзывов";
}

@if (((List<Review>)ViewBag.Reviews).Any())
{
    @await Html.PartialAsync("_ReviewsPartialView", (List<Review>)ViewBag.Reviews)
}
else
{
    <h5>Отзывы не найдены</h5>
}