@using MHClub.Domain.Models
@model MHClub.Models.User.UserProfileDto

@{
    Layout = "_ProfileLayout";
}

@if (ViewBag.Reviews != null)
{
    <div class="col">
        @foreach (Review review in ViewBag.Reviews)
        {
            <div class="row pe-2 pb-2">
                <div class="card">
                    <div class="card-header">
                        @review.Estimation
                    </div>
                    <div class="card-body">
                        <blockquote class="blockquote mb-0">
                            <p>@review.Description</p>
                        </blockquote>
                    </div>
                </div>
            </div>
        }
    </div>
}