@using Microsoft.AspNetCore.Mvc.TagHelpers
@model MHClub.Domain.Models.User
@{
    Layout = "_Layout";
    ViewData["Title"] = "Авторизация";
}

<div class="d-flex flex-column justify-content-center align-items-center vh-100">
    <div class="card p-4 rounded-3 shadow-sm" style="max-width: 400px; width: 100%;">
        <h2 class="text-center mb-4">Авторизация</h2>

        @* Форма входа *@
        <form asp-action="Login" method="post" class="px-2">
            @Html.ValidationSummary(true, "", new { @class = "text-danger mb-3" })

            <div class="mb-3">
                <label asp-for="Email" class="form-label">Email</label>
                <input asp-for="Email"
                       type="email"
                       class="form-control rounded-2 bg-light border-0 p-3"
                       placeholder="Введите почту" />
                <span asp-validation-for="Email" class="text-danger small"></span>
            </div>

            <div class="mb-4">
                <label asp-for="Password" class="form-label">Password</label>
                <input asp-for="Password"
                       type="password"
                       class="form-control rounded-2 bg-light border-0 p-3"
                       placeholder="Введите пароль" />
                <span asp-validation-for="Password" class="text-danger small"></span>
            </div>

            <div class="d-flex gap-2">
                <button type="submit"
                        class="btn btn-outline-dark rounded-2 flex-grow-1">
                    Войти
                </button>
                <a href="@Url.Action("Registration", "Auth")"
                   class="btn btn-dark rounded-2 flex-grow-1">
                    Еще нет аккаунта?
                </a>
            </div>
        </form>
    </div>
</div>
