@using MHClub.Domain.Models
@using MHClub.Models.Ads
@model AdsIndexDto

@{
    Layout = "_Layout";
    ViewBag.ColumnsCount = 5;
}

<div class="d-flex flex-column gap-2 w-100 mb-1">
    <div class="d-flex gap-1 w-100">
        <div class="input-group flex-fill w">
            <div class="dropdown">
                <button class="btn btn-outline-secondary" type="button" data-bs-toggle="collapse" data-bs-target="#categoriesCollapse" aria-expanded="false" aria-controls="categoriesCollapse">
                    <i class="bi-stack"></i>
                    Все категории
                </button>
            </div>
        </div>
        <div class="input-group flex-fill w-100">
            <span class="input-group-prepend">
                <button class="btn btn-outline-secondary bg-white border-end-0 border ms-n5" type="button">
                    <i class="bi-search"></i>
                </button>
            </span>
            @Html.TextBoxFor(m => m.AdsSearchViewModel.FilterText, new
            {
                type = "search",
                @class = "form-control border-start-0 border",
                placeholder = "Поиск..."
            })
        </div>
    </div>
    <div class="collapse" id="categoriesCollapse">
        <div class="row w-100">
            <div class="col-2">
                <div id="collapseFirstGroup" class="list-group">
                    @foreach (var category in ((List<Category>)ViewBag.Categories).Where(c => c.ParentCategoryId == null && c.Children?.Count > 0))
                    {
                        <button
                            class="list-group-item list-group-item-action"
                            type="button"
                            data-mdb-tab-init
                            data-bs-toggle="collapse"
                            data-bs-target="#cat-@category.Id"
                            aria-expanded="false"
                            aria-controls="cat-@category.Id">
                            @category.Name
                        </button>
                    }
                </div>
            </div>
            <div id="collapseSecondGroup" class="col-2">
                @foreach (var category in ((List<Category>)ViewBag.Categories).Where(c => c.Children?.Count > 0))
                {
                    <div class="collapse collapse-horizontal" id="cat-@category.Id" data-bs-parent="#collapseSecondGroup">
                        <div class="list-group">
                            @foreach (var childCategory in category.Children.Where(c => c.Children?.Count > 0))
                            {
                                <button
                                    class="list-group-item list-group-item-action"
                                    type="button"
                                    data-mdb-tab-init
                                    data-bs-toggle="collapse"
                                    data-bs-target="#cat-@childCategory.Id"
                                    aria-expanded="false"
                                    aria-controls="cat-@childCategory.Id">
                                    @childCategory.Name
                                </button>
                            }
                        </div>
                    </div>
                }
            </div>
            <div id="collapseThirdGroup" class="col-2">
                @foreach (var category in ((List<Category>)ViewBag.Categories).Where(c => c.Children?.Count > 0))
                {
                    @foreach (var childCategory in category.Children.Where(c => c.Children?.Count > 0))
                    {
                        <div class="collapse collapse-horizontal" id="cat-@childCategory.Id" data-bs-parent="#collapseThirdGroup">
                            <div class="list-group">
                                @foreach (var secondChildCategory in childCategory.Children)
                                {
                                    <button
                                        class="list-group-item list-group-item-action"
                                        type="button"
                                        data-mdb-tab-init
                                        data-bs-toggle="collapse"
                                        data-bs-target="#cat-@secondChildCategory.Id"
                                        aria-expanded="false"
                                        aria-controls="cat-@secondChildCategory.Id">
                                        @secondChildCategory.Name
                                    </button>
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
    @await Html.PartialAsync("_AdsPartialView", (List<AdsIndexViewModel>)ViewBag.Ads)
</div>

@section Scripts
{ 
    <script>
        
    </script>
}
